<h1>Listing mashups</h1>

<table>
  <thead>
    <tr>
      <th>Parameters</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mashups.each do |mashup| %>
      <tr>
        <td><%= mashup.parameters %></td>
        <td><%= link_to 'Show', mashup %></td>
        <td><%= link_to 'Edit', edit_mashup_path(mashup) %></td>
        <td><%= link_to 'Destroy', mashup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mashup', new_mashup_path %>
